volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge

services:
  mongo:
    image: mongo:8.0
    container_name: backend-template_mongo_prod
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=backend-template
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USERNAME:-admin}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - app-network

  redis:
    image: redis:6.2.13-alpine
    container_name: backend-template_redis_prod
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "--pass", "${REDIS_PASSWORD}", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: compose/backend/Dockerfile
      target: production
    image: backend-template:latest
    container_name: backend-template_backend_prod
    restart: always
    env_file:
      - .env.prod
    ports:
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  frontend:
    build:
      context: .
      dockerfile: compose/frontend/Dockerfile
      target: production
    image: frontend-template:latest
    container_name: backend-template_frontend_prod
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
